<div class="side_bar_header">
  <div class="header-name">
    <%=link_to current_user.name, edit_user_path(current_user) %> <%#current_user.nameはログインしているユーザー名。%>
  </div>
  <div class="create-name">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %> <%#全てのチャットルームに対して同じ処理%>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a> <%#nameはroomsのカラム名%>
      </div>
    </div>
  <% end %>
</div>